# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# OS junk
.DS_Store
Thumbs.db

# Data (if you don't want raw or processed data in repo)
data/raw/
data/processed/

# VS Code stuff
.vscode/
